.btn{
  width:100%;
  position:relative;
  height:48px;
  background-color: #00CE3E;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-family: Nunito;
  font-weight: bold;
  display: flex;
  align-content: center;
  align-items: center;
}
.btn-txt{
  flex: 1;
}
.icon{
  font-size:17px;
}
