html {
  height: 100%;
}

body {
  background-image: linear-gradient(#00cc80, #003264);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-name {
  text-align: center;
  font-size: 43px;
  color: #ffffff;
  font-family: Nunito;
}

.body-login {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.input-login {
  background: transparent;
  border: none;
  width: 100%;
}

.login-button {
  width: 100%;
  color: #00d86c;
  background-color: #00d86c;
}

.window-login {
  height: 100%;
}
