input {
  width: 100%;
  border: 1px solid #F5F5F5;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 12px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #F5F5F5;
  font-size: 16px;
  font-family: Nunito;
}

input:focus {
  border-color: #0084dc;
  background-color: #FFF;
}

.inputWithIcon {
  position: relative;
  width: 100%;
}

