input {
  width: 100%;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  margin: 0px 0;
  outline: none;
  padding: 12px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: Nunito;
}

input:focus {
  border-color: #0084dc;
  background-color: #fff;
}

.inputWithIcon input {
  padding-left: 40px;
  width: 100%;
}

.inputWithIcon {
  position: relative;
  width: 100%;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 9px 8px;
  color: #000000;
  transition: 0.3s;
}
